In [1]:
#imports
import pandas as pd
import os
import csv
import numpy as np

In [2]:
AAA = 'Corp_Bond_AAA.csv'
BBB = 'Corp_Bond_BBB.csv'
B = 'Corp_Bond_B.csv'
# Bond Data
Corp_Bond_AAA_df= pd.read_csv(AAA)
Corp_Bond_BBB_df= pd.read_csv(BBB)
Corp_Bond_B_df= pd.read_csv(B)
#shape of data
print(Corp_Bond_AAA_df.shape)
print(Corp_Bond_BBB_df)
print(Corp_Bond_B_df)

(6059, 2)
            DATE  BAMLC0A4CBBBEY
0      3/19/2020            5.23
1      3/18/2020            4.82
2      3/17/2020            4.27
3      3/16/2020            3.86
4      3/13/2020            3.77
...          ...             ...
6054    1/7/1997            7.39
6055    1/6/1997            7.37
6056    1/3/1997            7.34
6057    1/2/1997            7.36
6058  12/31/1996            7.26

[6059 rows x 2 columns]
            DATE  BAMLH0A2HYBEY
0      3/19/2020          11.51
1      3/18/2020          10.86
2      3/17/2020           9.98
3      3/16/2020           9.76
4      3/13/2020           8.72
...          ...            ...
6054    1/7/1997          10.07
6055    1/6/1997          10.05
6056    1/3/1997          10.01
6057    1/2/1997          10.00
6058  12/31/1996          10.01

[6059 rows x 2 columns]

In [3]:
Tsy = 'US_Yield_Curve.csv'
bond_yield_df = pd.read_csv(Tsy)
print(bond_yield_df.shape)

(7560, 13)

In [4]:
copper = 'Copper1MFutures.csv'
copper_df = pd.read_csv(copper)
print(copper_df.shape)

(15202, 9)

In [5]:
gold = 'Gold1MFutures.csv'
gold_df = pd.read_csv(gold)
print(copper_df.shape)

(15202, 9)

In [6]:
copp_gold_df = pd.merge(gold_df, copper_df, on=["Date"])
copp_gold_df.head()

,Date,Open_x,High_x,Low_x,Last_x,Change_x,Settle_x,Volume_x,Previous Day Open Interest_x,Open_y,High_y,Low_y,Last_y,Change_y,Settle_y,Volume_y,Previous Day Open Interest_y
0,3/20/2020,1483.5,1483.5,1483.5,1483.5,5.4,1484.0,14,275,2.1620,2.2410,2.1200,2.1680,0.0095,2.1905,194,1429
1,3/19/2020,1481.5,1491.6,1471.0,1476.0,1.3,1478.6,262,133,2.1615,2.1995,2.0595,2.1855,0.0395,2.2000,242,1613
2,3/18/2020,1537.5,1542.0,1484.6,1488.2,47.6,1477.3,333,84,2.3160,2.3225,2.1220,2.1555,0.1550,2.1605,205,1777
3,3/17/2020,1469.3,1537.7,1469.3,1525.5,39.0,1524.9,122,64,2.4170,2.4170,2.3090,2.3135,0.0830,2.3155,296,2068
4,3/16/2020,1569.1,1569.1,1452.1,1502.6,29.8,1485.9,193,51,2.4550,2.4600,2.3640,2.3800,0.0755,2.3985,516,2284

In [7]:
#gold_copp_px_df = pd.DataFrame([{"Date":Date,
                #            "Copper Settle":Settle_x ,
              #               "Gold Settle": Settle_y
              #                }])

#gold_copp_px_df["Date"] = gold_copp_px_df["Date"]
#gold_copp_px_df["Copper Settle"] = gold_copp_px_df["TCopper Settle"]
#gold_copp_px_df["Gold Settle"] = gold_copp_px_df["Gold Settle"]

#gold_copp_px_df.head()

In [8]:
copp_gold_df = pd.DataFrame({
    "Date": copp_gold_df["Date"],
    "Gold Price": copp_gold_df["Settle_x"],
    "Copper Price": copp_gold_df["Settle_y"]
})
copp_gold_df

             Date  Gold Price  Copper Price
0       3/20/2020      1484.0        2.1905
1       3/19/2020      1478.6        2.2000
2       3/18/2020      1477.3        2.1605
3       3/17/2020      1524.9        2.3155
4       3/16/2020      1485.9        2.3985
...           ...         ...           ...
11342    1/7/1975       173.4        0.5200
11343    1/6/1975       174.4        0.5130
11344    1/3/1975       174.7        0.5220
11345    1/2/1975       175.1        0.5210
11346  12/31/1974       183.9        0.5240

[11347 rows x 3 columns]

In [11]:
gold_copp_ratio = (copp_gold_df["Gold Price"] / copp_gold_df["Copper Price"])

In [14]:
copp_gold_df.insert(3,"Gold Copper Ratio", gold_copp_ratio)
copp_gold_df.head()

        Date  Gold Price  Copper Price  Gold Copper Ratio
0  3/20/2020      1484.0        2.1905         677.470897
1  3/19/2020      1478.6        2.2000         672.090909
2  3/18/2020      1477.3        2.1605         683.776903
3  3/17/2020      1524.9        2.3155         658.561866
4  3/16/2020      1485.9        2.3985         619.512195

In [15]:
copp_gold_df = copp_gold_df.sort_index(axis=0, ascending=False)


copp_gold_df.head()

             Date  Gold Price  Copper Price  Gold Copper Ratio
11346  12/31/1974       183.9         0.524         350.954198
11345    1/2/1975       175.1         0.521         336.084453
11344    1/3/1975       174.7         0.522         334.674330
11343    1/6/1975       174.4         0.513         339.961014
11342    1/7/1975       173.4         0.520         333.461538

In [ ]:
plt.plot